<nav class="bg-green-700 text-white p-4 flex justify-between items-center shadow">
  <div class="text-2xl font-bold tracking-wide">⚽ Football App</div>
  <div class="space-x-6 text-sm sm:text-base">
    <a routerLink="/" routerLinkActive="font-semibold underline">Inicio</a>
    <a routerLink="/login" routerLinkActive="font-semibold underline">Iniciar sesión</a>
    <a routerLink="/register" routerLinkActive="font-semibold underline">Registrarse</a>
    <a routerLink="/create-match" routerLinkActive="font-semibold underline">Crear partido</a>
  </div>
</nav>
